<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}
    <div class="mb-3">
        <label for="" class="form-label">{{ campo.label }}</label>

        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br />
        <img src="{{ MEDIA_URL}}/{{ campo.value }}" width="200" alt="" srcset="">
        <!-- {{ MEDIA_URL}}/{{ campo.value }} -->
        {% endif %}

        {% if campo.field.widget.input_type != 'file' and campo.value %}
        <input type="{{ campo.field.widget.input_type}}" class="form-control" name="{{ campo.name }}" id=""
            aria-describedby="helpId" placeholder="{{ campo.label }}" value=" {{ campo.value | default:'' }}" />
        {% endif %}    
    </div>
    <div class="col-12 help-text"> {{ campo.errors }}</div>
    {% endfor %}
    <input name="" id="" class="btn btn-danger" type="submit" value="Confirmar Baja" />
    <a name="" id="" class="btn btn-primary" href="{% url 'destinosurl' %}" role="button">Cancelar</a>


</form>