{% extends 'masterpage.html' %}
{% load static %}


{% block title %} 
<!-- Titulo Pagina -->
You Trip, Our Trip - Actividades
{% endblock %}


{% block content %}
<!-- Bloque de Contenido -->
<div class="main">
    <h3 class="recomendaciones estilotitulobox">Actividades para tus Destinos</h3>
    <article class="main">

        <div class="atarjeta">
            <img src="{% static './Img/Villa-Traful-BET-2018_-1-960x626.jpg' %}" alt="Villa Traful">
            <h3>Villa Traful</h3>
            <p class="precio">Aventura</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4">
                    <p><strong>Lago Traful</strong><br>Paseo en kayak con vistas inmejorables.</p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

        <div class="atarjeta">
            <img src="{% static './Img/cataratas1.jpg' %}" alt="Cataratas del Iguazú">
            <h3>Cataratas</h3>
            <p class="precio">Naturaleza</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4">
                    <p><strong>Parque Nacional Iguazu</strong><br>Paseo hasta llegar a la Garganta del Diablo.</p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

        <div class="atarjeta">
            <img src="{% static './Img/ushuaia1.jpg' %}" alt="Ushuaia">
            <h3>Ushuaia</h3>
            <p class="precio">Cultural</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4">
                    <p><strong>Carcel del Fin del Mundo</strong><br>Visita a la carcel mas impactante del mundo.</p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

        <div class="atarjeta">
            <img src="{% static './Img/callafate.jpg' %}" alt="Calafate">
            <h3>Calafate</h3>
            <p class="precio">Naturaleza</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4.5">
                    <p><strong>Parque los Glaciares</strong> <br>Disfruta del asombroso glaciar Perito Moreno.</p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>


        <div class="atarjeta">
            <img src="{% static './Img/Rosario-Argentina.jpg' %}" alt="Rosario">
            <h3>Rosario</h3>
            <p class="precio">Cultural</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4">
                    <p><strong>Monumento a la Bandera</strong><br>Tour por la ciudad portuaria mas importante.</p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

        <div class="atarjeta">
            <img src="{% static './Img/madryn.jpg' %}" alt="puerto madryn">
            <h3>Puerto Madryn</h3>
            <p class="precio">Aventura</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4">
                    <p><strong>Avistaje de Ballenas</strong><br>Paseo en barco hacia la zona de ballenas.</p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

        <div class="atarjeta">
            <img src="{% static './Img/bariloche.jpg' %}" alt="Bariloche">
            <h3>Bariloche</h3>
            <p class="precio">Aventura</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4">
                    <p><strong>Ski & Snowboard</strong><br> Disfruta de las pistas del cerro catedral. </p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

        <div class="atarjeta">
            <img src="{% static './Img/buenosAires1.jpg' %}" alt="Buenos Aires">
            <h3>Buenos Aires</h3>
            <p class="precio">Cultura</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="5">
                    <p><strong>Capital de Argentina</strong> <br>Paseo por el embleamatico caminito y el obelisco.
                    </p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

        <div class="atarjeta">
            <img src="{% static './Img/salta.jpg' %}" alt="Salta">
            <h3>Salta</h3>
            <p class="precio">Naturaleza</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4">
                    <p><strong>Tren de las nubes</strong><br>Disfruta de variados y exclusivos paisajes.</p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

        <div class="atarjeta">
            <img src="{% static './Img/mendoza.jpg' %}" alt="Mendoza">
            <h3>Mendoza</h3>
            <p class="precio">Gastronomia</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4">
                    <p><strong>Valle de UCO</strong><br>Descubri la variedad de uvas y sus procesos.</p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

        <div class="atarjeta">
            <img src="{% static './Img/cordoba1.jpg' %}" alt="Córdoba">
            <h3>Córdoba</h3>
            <p class="precio">Aventura</p>
            <div class="rating-holder">
                <div class="c-rating c-rating--small" data-rating-value="4">
                    <p><strong>Tours</strong><br>Recorre Traslasierra y Valle de Punilla.</p>
                </div>
            </div>
            <p><a href="#"><button class="btnCir">Ver info...</button></a></p>
        </div>

    </article>
</div>

<aside class="sidebar1">

    <h3>Naturaleza</h3>
    </div>
    <div class="">
        <p><br>Sumérgete en un viaje donde la naturaleza se convierte en tu guía y fuente de asombro. Explora
            paisajes
            impresionantes, desde majestuosas montañas hasta exuberantes selvas tropicales. Camina por senderos
            sinuosos
            que te llevan a cascadas ocultas y miradores panorámicos que te dejarán sin aliento. Observa la vida
            silvestre en su hábitat natural y descubre la belleza tranquila de los lagos serenos y las playas de
            arena
            dorada. Cada rincón de la Tierra tiene su propia historia natural esperando a ser explorada. Convierte
            tu
            próximo viaje en una aventura inolvidable conectando con la naturaleza en su estado más puro.<br><br>
        </p>
    </div>

    <div>
        <h3>Aventura</h3>
    </div>

    <div class="">
        <p><br>Prepárate para una aventura épica que te llevará a los confines del mundo. Desde emocionantes
            expediciones en
            la selva hasta adrenalínicos deportes extremos en montañas imponentes, cada paso de tu viaje será una
            oportunidad para desafiar tus límites. Rodeado de paisajes espectaculares y misteriosos, descubrirás la
            emoción de la exploración en su máxima expresión. Abraza la incertidumbre y la emoción mientras te
            sumerges
            en la cultura de aventura de cada lugar, compartiendo experiencias con personas apasionadas como tú. Ya
            sea
            escalando acantilados, buceando en aguas profundas o recorriendo senderos remotos, esta aventura te
            invita a
            abrazar lo desconocido y vivir al límite.<br><br></p>
    </div>

    <div>
        <h3>Gastronomia</h3>
    </div>

    <div class="">
        <p><br>Embárcate en un viaje culinario que despertará tus sentidos y satisfará tu alma. La gastronomía se
            convierte
            en la ventana a las culturas locales, uniendo sabores únicos con tradiciones arraigadas. Desde
            puestos
            callejeros llenos de delicias exóticas hasta elegantes restaurantes que te sumergen en la
            sofisticación
            culinaria, cada bocado cuenta una historia. Degusta platos tradicionales transmitidos de generación
            en
            generación y saborea ingredientes frescos y auténticos. La gastronomía es el puente que conecta
            personas
            de
            todo el mundo, permitiéndote explorar sabores nuevos mientras compartes momentos inolvidables con
            locales y
            viajeros por igual. Este viaje te llevará a una experiencia gastronómica que nunca olvidarás.<br><br>
        </p>
    </div>

    <div>
        <h3>Cultura</h3>
    </div>

    <div class="">
        <p><br>Embárcate en un viaje profundo hacia el corazón de la cultura, donde cada paso es un encuentro con la
            historia y la diversidad humana. Sumérgete en tradiciones ancestrales, maravíllate con monumentos
            arquitectónicos y participa en festivales llenos de color y alegría. Conoce a las personas que dan
            vida
            a
            cada rincón del mundo, comparte historias y aprende sobre su herencia única. La cultura es la
            columna
            vertebral de cada destino, tejiendo una red de conexiones que enriquecerán tu vida para siempre. En
            este
            viaje, descubrirás que la cultura es el hilo conductor que une a la humanidad, una invitación a
            explorar,
            aprender y crecer a través del entendimiento y el respeto mutuo.<br><br></p>
    </div>
</aside>
{% endblock %}

{% block footerjs %}
<!-- Scripts js  -->
{% endblock %}