{% extends 'masterpage.html' %}
{% load static %}


{% block title %} 
<!-- Titulo Pagina -->
You Trip, Our Trip - Lo más Buscado
{% endblock %}


{% block content %}
<!-- Bloque de Contenido -->
<div class="main">
    <h3 class="staff estilotitulobox buscadotitulo">Lo más buscado!!!</h3>
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <article class="Calafate">
                <h3>Calafate</h3>
                <p>DESCUBRI LOS HERMOSOS PAISAJES DE NUESTRA PATAGONIA.</p>
            </article>
            <br>
            <article class="BuenosAires">
                <h3>Buenos Aires</h3>
                <p>CONOCE LA CAPITAL DE NUESTRO PAIS, TAMBIEN CONOCIDA COMO LA CIUDAD DE LA FURIA.</p>
            </article>
            <br>
            <article class="Mendoza">
                <h3>Mendoza</h3>
                <p>EXCLUSIVOS PAISAJES Y VARIEDAD DE ATRACCIONES PARA DISFRUTAR EN FAMILIA.</p>
            </article>
            <br>
            <article class="Cataratas">
                <h3>Cataratas</h3>
                <p>UNA DE LAS SIETE MARAVILLAS DEL MUNDO, QUE NO PODES DEJAR DE CONOCER.</p>
            </article>
        </div>
    </div>
</div>

<aside class="sidebarD">

    <div class="verano formdiv">
        <br><br><br><br>
        <h2 class="texto-center veranotexto">
            <span class="spanverano"> VERANO 23/24</span>
        </h2>
        <br><br><br><br>
    </div>
    <br><br>
    <div class="invierno formdiv">
        <br><br><br><br>
        <h2 class="texto-center inviernotexto">
            <span class="spaninvierno">INVIERNO 2024</span>
        </h2>
        <br><br><br><br>
    </div>
</aside>

{% endblock %}

{% block footerjs %}
<!-- Scripts js  -->
{% endblock %}