{% extends 'masterpage.html' %}
{% load static %}


{% block title %} 
<!-- Titulo Pagina -->
You Trip, Our Trip - Defensa al Consumidor
{% endblock %}


{% block content %}
<!-- Bloque de Contenido -->
<div class="main">
  <h3 class="terminosbox estilotitulobox">Ley de Defensa del Consumidor</h3>
  <article class="main">
    <article class="defensa">
      <iframe class="defensa" src="http://servicios.infoleg.gob.ar/infolegInternet/anexos/0-4999/638/texact.htm"
          frameborder="0"></iframe>
  </article>

  </article>
</div>

<aside class="sidebarD">
  <p></p>
  <img class="imgStaff" src="static/Img/otrasOfertas/aa.png" alt="">
  <p></p>
  <img class="imgStaff" src="static/Img/otrasOfertas/vuelos1.png" alt="">
  <p></p>
  <p></p>
  <img class="imgStaff" src="static/Img/otrasOfertas/ofertas7.jpg" alt="">
</aside>
{% endblock %}

{% block footerjs %}
<!-- Scripts js  -->
{% endblock %}