{% extends 'masterpage.html' %}
{% load static %}


{% block title %} 
<!-- Titulo Pagina -->
You Trip, Our Trip - Términos y Condiciones
{% endblock %}

{% block script_src %}

{% endblock %}


{% block content %}
<!-- Bloque de Contenido -->
<div class="main">
    <h3 class="terminosbox estilotitulobox">Términos y Condiciones - Política de Privacidad</h3>
    <div class="terminosbody">
      <p></br>
      <h3>Bienvenidos a nuestro sitio web.</h3></br></br>
      A continuación Ud. leera las condiciones de uso del presente Sitio y las practicas y política de
      privacidad referidas a la recolección; uso y divulgación de la información personal compilada a través
      de los datos suministrados por Ud. (en adelante Usuario) al visitar, utilizar y/o registrarse en esta
      web. La utilización del Sitio por parte del Usuario implica conocimiento y aceptación plena de las
      Condiciones de Uso y política de privacidad. En caso de no aceptarlas no deberá utilizar el Sitio.
      </br></br>
      Servicio y destino del Sitio. El Sitio ha sido programado para que constituya un medio virtual para el
      acceso de los Usuarios a la reserva de los servicios ofrecidos por YOUR TRIP OUR TRIP de viajes y su posterior
      comercialización al Usuario. El Sitio y los Servicios sólo están disponibles para personas que tengan
      capacidad legal para contratar y en caso de representar a una persona jurídica deben estar facultados
      con capacidad para obligarla. En consecuencia no podrán utilizar este Sitio las personas que no tengan
      esa capacidad, los menores de edad o quien legalmente no pueda obligar a la sociedad o persona jurídica
      en nombre de quien trate de contratar.
      </br></br>
      Uso de los Servicios. La información recopilada (en adelante la “Información Personal”) incluye a modo
      de ejemplo: nombre y apellido, dirección postal, nacionalidad, número telefónico, clave de
      identificación tributaria, dirección de correo electrónico, y si Usted hace una reserva a través de
      nuestro Sitio Web , la información sobre su tarjeta de crédito (tal como el número de la tarjeta de
      crédito, el nombre del titular de la tarjeta y la fecha de vencimiento), toda vez que ella es necesaria
      para realizar transacciones. Asimismo podremos solicitar información sobre programas de fidelidad y
      viajero frecuente.
      </br></br>
      El Usuario, deberá dar información veraz y actual. Cualquier modificación que se suscitare será
      informada a YOUR TRIP OUR TRIP a la brevedad. Los daños y perjuicios que el incumplimiento de dicha obligación
      acarreare al Usuario y a YOUR TRIP OUR TRIP será soportada por el Usuario.
      </br></br>
      El Usuario se compromete a no divulgar su contraseña a terceros.
      Las referencias y/o links del Sitio respecto a nombres, marcas, productos o servicios de terceros, o
      vínculos a otros sitios Web o información de terceros no implica respaldo o recomendación para la
      utilización de ese sitio y /o servicio. El Usuario que decide navegar o seguir dichos vínculos o
      portales Web de terceros, lo efectúa bajo su riesgo y responsabilidad
      Los precios publicados en el sitio son precios exclusivos para la compra online de los productos y
      podrán diferir o ser idénticos a los precios publicados en el resto de las sucursales de YOUR TRIP, OUR TRIP
      según el caso.
      </br></br></br>
      <h3>Aceptación de reservas.</h3></br>
      Para que una reserva revista la condición de tal debe ser confirmada por el prestador de los servicios.
      Por lo tanto el Usuario debe tener en cuenta que al solicitar una reserva esta puede ser denegada por
      factores externos a YOUR TRIP OUR TRIP que a modo de ejemplo se cita: limitaciones en las cantidades disponibles
      para la compra; falta de autorización a la operación por parte de la entidad emisora o administradora de
      su tarjeta de crédito; inexactitudes o errores en la información suministrada, etc..
      </br></br>
      Si se cancela su solicitud de reserva o si se necesita información adicional para aceptar su pedido, LA
      AGENCIA se contactará con usted. En todos los casos que deban realizarse una modificación o cancelación
      parcial de su solicitud, el Usuario tendrá siempre derecho a cancelar la totalidad del mismo.
      Las reservas solicitadas estarán sujetas al cupo informado, debido a las demoras propias de las
      actualizaciones del sistema, es posible que el mismo le permita realizar una solicitud que luego deba
      ser anulada por falta de cupo. En ese caso le será informado en el e-mail confirmatorio
      Medios de Pago.
      El Sitio cuenta con los siguientes medios de pago válidos para compras online: - Todo pago y Mercado
      Pago. Es derecho de YOUR TRIP OUR TRIP la inclusión, exclusión o suspensión de cualquier medio de pago.
      </br></br></br>
      <h3>Tipo de comprobantes a emitir.</h3></br>
      En venta on line, sólo se emitirán facturas electrónicas a Consumidor Final (Comprobantes tipo “B”). La
      misma será remitida al e-mail informado en la solicitud, sin excepción. En caso de no recibirla,
      contactarse al teléfono de YOUR TRIP OUR TRIP seleccionada en el sitio para corroborar un posible error en la
      carga del e-mail en la registración.
      </br></br>
      <h3>Prohibiciones.</h3></br>
      Está prohibido a los Usuarios violar, vulnerar y/o de cualquier forma afectar el normal uso y la
      seguridad del Sitio. Las violaciones de la seguridad del sistema o de la red pueden dar lugar a
      responsabilidad civil o penal.
      El Usuario y/o el navegante ocasional del Sitio aceptan y reconocen expresamente que cualquier hecho,
      acto u omisión que afecte la seguridad y/o el normal desarrollo del Sitio tienen entidad suficiente para
      causar YOUR TRIP OUR TRIP considerables daños y perjuicios incluyendo pero no limitándose a lucro cesante por
      caída y/o merma en las ventas, afectación de sus marcas, imagen comercial, pérdida de clientela, etc.
      El Usuario deberá notificar de inmediato a YOUR TRIP OUR TRIP cualquier uso no autorizado de su contraseña o
      cuenta de que tenga conocimiento, a través del Sitio. Esta notificación deberá efectuarse a través del
      Sitio y, adicionalmente, remitiendo una nota al domicilio de YOUR TRIP OUR TRIP debiendo especificar en ambos
      casos y en detalle toda la información con la que cuente respecto del uso no autorizado de su
      contraseña.
      </br></br></br>
      <h3> Datos Personales.</h3></br>
      Sr. Usuario, al comunicarnos sus datos personales por medio de su registro en el Sitio, usted presta el
      consentimiento previsto por la ley argentina Nº 25.236, incluyendo la posibilidad de cesión prevista en
      su art. 11 que usted podrá revocar en cualquier momento simplemente solicitándolo vía correo electrónico
      y/o mediante cualquier otra forma que pueda ser fácilmente acreditable
      Sus datos personales se registran a los fines de comercializar el servicio solicitado, (efectuar las
      reservas, remitirle confirmaciones, transacciones de pago; procesar su factura, actualizaciones sobre su
      viaje, etc); para realizar acciones de marketing (ofrecerle productos y servicios; responder a sus
      preguntas y comentarios; realizar encuestas, estadísticas o análisis, notificarle por correo electrónico
      las ofertas especiales y los productos y servicios relacionados con viajes)excepto que Ud. no lo desee.
      A los fines de comercializar el servicio solicitado por el Usuario YOUR TRIP OUR TRIP deberá suministrar sus
      datos personales a los proveedores para la gestión de sus reservas y/o solicitudes de compra, tales como
      aerolíneas, hoteles, compañías rentadoras de vehículos, mayoristas, y otros proveedores de productos y
      servicios que Usted contrate por nuestro Sitio Web
      El Usuario, en cuanto titular de los datos personales, tiene la facultad de ejercer el derecho de acceso
      a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés
      legítimo al efecto conforme lo establecido al artículo 14, inciso 3 de la Ley n° 25.326. YOUR TRIP, OUR TRIP
      sugiere a sus clientes que mantengan actualizados sus datos. De esta forma recibirán en forma periódica
      ofertas y promociones diseñadas a medida de sus necesidades. Si desea actualizar sus datos contactese
      con nostros a través de los medios de comunicación que figuran en el sitio o mediante el ejercicio del
      derecho de acceso previsto por el art. 14 de la Ley 25.326.
      Al recopilar la Información Personal YOUR TRIP OUR TRIP le dará el tratamiento correspondiente según lo
      prescripto por el art. 27 de la LPDP, el Decreto Nº 1558/2001 y las Disposiciones Nº 10/2005 y 4/2009 de
      la Dirección Nacional de Protección de Datos Personales (Órgano de Control de la LPDP).
      Política de renuncia (opt out)
      Al registrarse en el Sitio al Usuario de le dará una opción en cuanto a si desea recibir circulares
      promocionales, mensajes o alertas de correo electrónico sobre ofertas.
      YOUR TRIP OUR TRIP no solicita datos de sus clientes, ni en forma telefónica ni a través del correo electrónico.
      YOUR TRIP OUR TRIP se encuentra inscripto en el Registro Nacional de la Dirección Nacional de Protección de
      Datos Personales, dependiente del Ministerio de Justicia y Derechos humanos tal como lo establece la
      ley. Si Ud. desea conocer más en profundidad sobre este tema haga click aquí o en la siguiente
      dirección: http://www.jus.gov.ar/dnpdp La Dirección Nacional De Protección De Datos Personales, Órgano
      de Control de la Ley n° 25.326, tiene la atribución de atender las denuncias y reclamos que se
      interpongan con relación al incumplimiento de las normas sobre protección de datos personales permite.
      Si Ud. desea conocer más en profundidad sobre este tema haga click aquí o en la siguiente dirección:
      http://www.jus.gov.ar/dnpdp
      </br></br></br>
      <h3>Precios.</h3></br>
      Dado que el propósito del Sitio es permitir a los Usuarios realizar compras online, sin concurrir
      personalmente a las agencias, En el caso de que un servicio figure en las listas del Sitio a un precio
      incorrecto debido a un error YOUR TRIP OUR TRIP tendrá el derecho, de corregir la orden facturando el precio
      vigente al momento del armado de la solicitud o bien, de anular el pedido reintegrando al Usuario los
      importes abonados. En este caso, se dará aviso del error al Usuario, y con él la posibilidad de cancelar
      o modificar la compra del producto facturado u ofrecido de forma incorrecta.
      Promociones.
      Las promociones que se ofrezcan en el Sitio pueden no ser necesariamente las mismas que se ofrecen en
      los locales de las agencias. Salvo indicación en contrario o aprobación por parte de YOUR TRIP OUR TRIP las
      promociones no son acumulativas unas con otras.
      Derechos de autor y marcas registradas.
      A menos que se indique lo contrario, los derechos de autor, marcas comerciales, presentación comercial
      (trade dress) y/u otros derechos de propiedad intelectual y cualquier contenido del Sitio son de
      propiedad, o controlados o licenciados, de YOUR TRIP OUR TRIP y están protegidos por las leyes Argentinas y
      tratados internacionales sobre propiedad intelectual. La compilación (es decir, la colección, secuencia,
      estructura, organización y montaje) de todo el contenido de este Sitio es propiedad exclusiva de YOUR TRIP OUR
      TRIP y también está protegida por las leyes Argentinas y tratados internacionales sobre propiedad
      intelectual. El acceso a este Sitio no autoriza a nadie a utilizar cualquier nombre, logotipo o marca de
      cualquier manera.
      Modificaciones en las Condiciones de Uso.
      En caso de que estas Condiciones de Uso sean modificadas, tales modificaciones serán publicadas en el
      Sitio, obrando en él la versión vigente al momento del inicio de cada sesión. Toda vez que por tratarse
      de un sitio Web abierto a los clientes en general, YOUR TRIP OUR TRIP carece de posibilidad de notificarle
      particularmente a cada uno de ellos, salvo mediante la publicación en el propio Sitio, por lo que el
      Usuario se compromete a verificar en forma las Condiciones de Uso con cualquier uso que haga del mismo,
      entendiéndose que al iniciar cada sesión acepta las que estén vigentes y publicadas en ese momento en la
      forma y con los efectos establecidos en las presentes Condiciones de Uso.
      Ley aplicable, resolución de controversias:
      Este contrato se interpretará según la legislación vigente en la República Argentina. Cualquier
      conflicto relacionado con este contrato o con el uso que el Usuario haga de este Sitio será resuelto por
      los tribunales ordinarios competentes según la legislación vigente y aplicable a la relación de consumo
      existente entre las partes. En caso de que dicha legislación no defina una competencia específica, será
      competente la justicia nacional ordinaria en asuntos comerciales con asiento en la Ciudad Autónoma de
      Buenos Aires, siendo aplicable esta disposición aunque el Usuario estuviera realmente domiciliado fuera
      de los límites de la Ciudad Autónoma de Buenos Aires o de la República Argentina, por entenderse que
      este lugar ha sido el lugar de celebración del presente contrato. Salvo que lo contrario haya sido
      acordado previamente y por escrito firmado entre el Usuario y YOUR TRIP OUR TRIP, todas las notificaciones que
      se hagan a los usuarios en relación a las presentes Condiciones de Uso se publicarán en el Sitio y
      tendrán efecto desde la fecha de su publicación. Las notificaciones que el Usuario quiera dirigir a YOUR TRIP OUR
      TRIP, deberán ser dirigidas a al domicilio que figura en el pie de la pagina o a los correos de
      contacto, donde queda constituido el domicilio. Por dudas sobre las Condiciones de Uso o demás políticas
      y principios que rigen el Sitio el Usuario podrá efectuar las consultas que estime corresponder
      comunicándose al teléfono del Centro de Atención al Cliente indicado en el encabezado de la web.
      </p>
    </div>
  </div>

  <aside class="sidebarD">
    <p class="titulosidebar estilotitulosidebar colortituloside">Ofertas Especiales</p>
    <img class="imgStaff" src="{% static './Img/otrasOfertas/ahora12.png' %}" alt="">
    <p></p>
    <img class="imgStaff" src="{% static './Img/otrasOfertas/destino.png' %}" alt="">
    <p></p>
    <img class="imgStaff" src="{% static './Img/otrasOfertas/floripa.png' %}" alt="">
  </aside>


{% endblock %}

{% block footerjs %}

{% endblock %}